<head>
    <title>index</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <label>Nombre de la materia = Programación Web</label><br />
    <label>Semestre = Septimo</label><br />
    <label>Periodo = 2021</label><br />
    <label>Nombre del alumno: Javier Gerardo Guzmán Cortez</label><br />

    <a href="~/Home/MiPerfil">Mi perfil</a>
</body>
