
<head>
    <title>Mi perfil</title>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
    <a href="~/Home/Index">Index</a><br />
    <img src="~/imagen.png" />
    <table>
        <tbody>
            <tr>
                <td>
                    <label>Nombre del Alumno:</label>
                </td>
                <td>
                    <label>Javier Gerardo Guzmán Cortez</label>
                </td>
            </tr>
            <tr>
                <td><label>Carrera:</label></td>
                <td><label>Ing. Sistemas Computacionales</label></td>
            </tr>
            <tr>
                <td>
                    <label>Módulo de Especialidad:</label>
                </td>
                <td>
                    <label>Internet de las cosas</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Creditos Acumulados:</label>
                </td>
                <td>
                    <label>169.0</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Situación de Vigencia:</label>
                </td>
                <td>
                    <label>Vigente</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Periodo de Ingreso:</label>
                </td>
                <td>
                    <label>AGO-DIC17</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Número de Periodos Convalidados:</label>
                </td>
                <td>
                    <label>00</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Clave CURP:</label>
                </td>
                <td>
                    <label>GUCJ990414HCLZRV01</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Fecha de nacimiento:</label>
                </td>
                <td>
                    <label>1999-04-14</label>
                </td>
            </tr>

        </tbody>

    </table>











</body>