@{
    Layout = "_Layout";
}


<div class="slides">
    <img src="images/carousel1.jpg" />
</div>

<h1>Clasificación de los vertebrados</h1>

<div class="categorias">
    <a href="~/Especie">
        Según su clase
        <img src="images/clases.png" />
    </a>
    <a href="~/Habitat">
        Según su habitat
        <img src="~/images/habitat.png" />
    </a>
</div>


